@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MH Surveys</h1>
    <p>Please sign up to be able to create and take surveys</a>.</p>
    <img src="~/surveylogo.png" alt="Sample Image" width="300px" />
    <p>
        This app is maintained and ran by Mikael Hinton. This is for WVUP CS 460 Capstone.

        Gary is my Favorite!
    </p>
</div>
